.sign-up-page {
    margin:0;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.sign-up-container {
    width: 30vw;
    height: 55vh;
    background-color: rgba(43, 39, 39, 0.774);
    /* position: absolute;
margin: 0;
top: 200px;
left: 700px; */
    border-radius: 3px;
    border-style: line;
    border-width: 2px;
    text-align: center;
    color: white;
}

.sign-up-logo {
    height: 20px;
    font-size: 20pt;
    width: 30vw;
    text-align: center;
}

.sign-up-inside {
    background-color: rgba(2, 3, 14, 0.568);
    border-radius: 3px;
    border-style: line;
    border-width: 0px;
    margin: 20px;
    height: 46vh;
    display: flex;

}

.inputs-user {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch;
    margin: 15px;
    width: 30vw;
}

.input-user-sub {
    width: 25vw;
}