.user-list{
    color: white;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    justify-content: center;
    border-style: groove;
    border-width: .5px;  
 }

.user{
    color: rgb(255, 255, 255);
    width: 800px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: groove;
    border-width: .5px; 
    background-color: rgb(27, 26, 26);
    height: 75px;
    
}
.image-container{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    border-style: groove;
    border-width: .5px;
}
