
.team-member-list{
    color: white;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    justify-content: center;
    border-style: groove;
    border-width: .5px;  
 }

.team-member{
    color: rgb(255, 255, 255);
    width: 800px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: groove;
    border-width: .5px; 
    background-color: rgb(27, 26, 26);
    height: 75px;
    
}

