
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dashboard-container {
    margin-top: 30px;
    width: 1400px;
    height: 800px;
    background-color: rgba(19, 18, 18, 0.795);
    display: flex;
    border-radius: 4px;
    border-style: groove;
    border-width: 1px;
}

.dashboard-user-contents-container {
    margin: 0px;
    width: 620px;
    height: 800px;
    background-color: rgba(49, 46, 124, 0);
    display: flex;
    flex-direction: column;
}

.dashboard-menu-options {
    font-size: 15pt;
    margin-top: 200px;
    margin-right: 20px;
    width: 1300px;
    height: 400px;
    background-color: rgba(20, 155, 38, 0);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;

}

.dashboard-img {
    margin: 0px 0px 0px 15px;
    width: 120px;
    height: 125px;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 120px;
}

.dashboard-img-container {
    margin: 20px 10px 20px 20px;
    display: flex;
    padding-top: 20px;
    width: 426px;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 4px;
    border-style: groove;
    border-width: 1px;
}

.dashboard-user-info-top-container {
    font-size: 13pt;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}



.dashboard-user-info-bottom-container {
    position: absolute;
    top: 295px;
    width: 390px;
    height: 580px;
    background-color: rgba(255, 255, 0, 0);
}

.dashboard-icons {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-size: cover;

}
.dashboard-db-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-top: 0px;
}

.dashboard-user-bottom-info-after-icon-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.dashboard-links{
    border-radius: 4px;
    width: 425px;
    margin-left: 20px;
    margin-top: 35px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    background-color: rgba(34, 29, 78, 0.363);
    color: white;
}

@media screen and (max-width: 768px) {
    .dashboard-container{
        width: 475px;
        margin-top: 100px;
    }
.dashboard-menu-options{
    display: none;
}
}

@media screen and (max-width: 375px) {
    .dashboard-container{
        width: 350px;
        margin-top: 100px;
    }
.dashboard-menu-options{
    display: none;
}
.dashboard-img-container {
    width: 310px;
}
.dashboard-links{
    width: 310px;
    background-color: rgba(26, 26, 194, 0.781);
}
.dashboard-user-info-bottom-container{
    width: 310px;
    height: 400px;
}

.dashboard-user-contents-container{
    width: 350px;
    height:400px;

}
.dashboard-container{
    margin-top: 70px;
    height: 670px;
    background-color: rgba(0, 0, 0, 0.856);
}
}