.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dashboard-container {
    width: 1400px;
    height: 800px;
    background-color: rgba(19, 18, 18, 0.575);
    display: flex;
    border-radius: 4px;
    border-style: groove;
    border-width: 1px;
}

.dashboard-user-contents-container {
    margin: 0px;
    width: 620px;
    height: 800px;
    background-color: rgba(49, 46, 124, 0);
    display: flex;
    flex-direction: row;
}

.dashboard-menu-options {
    margin: 0px;
    width: 1400px;
    height: 800px;
    background-color: rgba(20, 155, 38, 0);
}

.dashboard-img {
    margin: 0px 0px 0px 15px;
    width: 120px;
    height: 125px;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 120px;
}

.dashboard-img-container {
    margin: 20px 10px 20px 20px;
    padding-top: 20px;
    width: 150px;
    height: 145px;
    background-color: rgba(255, 255, 0, 0);
    border-radius: 4px;
    border-style: groove;
    border-width: 1px;
}

.dashboard-user-info-top-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13pt;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 230px;
    height: 178px;
    background-color: rgba(128, 0, 128, 0);
    border-radius: 4px;
    border-style: groove;
    border-width: .5px;
}

.dashboard-db-info {
    margin: 10px;
}

.dashboard-user-info-bottom-container {
    position: absolute;
    top: 295px;
    width: 390px;
    height: 580px;
    background-color: rgba(255, 255, 0, 0);
}

.dashboard-icons {
    background-image: url('https://i.gyazo.com/ac646f8558b808357d9c1b891949e898.png');
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;

}

.dashboard-user-bottom-info-after-icon-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.dashboard-links{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: space-between;
}