.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    background-color: rgba(33, 42, 126, 0);
    width: 100vw;
    height: 10vh;
}
.menu-btn-content{
    font-size: 16pt;
    width: 100px;
    height: 50px;
    margin-right: 250px;
    margin-top: 17px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: rgb(255, 255, 255);
}
.menu-btn-content:hover {
background-color:rgb(44, 43, 43);
}
.logo{
    margin-left:250px;
    margin-top: 20px;
    font-size: 24pt;
    color: white;
}
.nav-menu{
    right: 250px;
    top: 65px;
    position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
    align-content: stretch;
    border-style: line;
    background-color: rgba(0, 0, 255, 0);

}
.nav-link{
    height: 80px;
    width: 150px;
    border-radius: 4px;
    background-color:rgba(36, 33, 33, 0.712);
    color: white;
    border-style: none;
}
.nav-link:hover {
    background-color:rgb(44, 43, 43);
    }