.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    background-color: rgb(4, 4, 7);
    width: 100vw;
    height: 8.5vh;
}

.menu-btn-content {
    font-size: 16pt;
    width: 100px;
    height: 50px;
    margin-right: 250px;
    margin-top: 17px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    color: rgb(255, 255, 255);
}

.menu-btn-content:hover {
    background-color: rgb(13, 95, 128);

}

.logo {
    text-align: center;
    margin-left: 30px;
    margin-top: 8px;
    font-size: 32pt;
    height: 7vh;
    width: 50vh;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 0, 255);
}

.nav-menu {
    right: 70px;
    top: 190px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    border-style: line;
    background-color: rgba(0, 0, 255, 0);

}

.fa.fa-bars {
    margin-right: 60px;
    margin-top: 50px;
    height: 70px;
    width: 70px;
    background-size: fill;
}

.nav-link {
    text-decoration: none;
    height: 80px;
    width: 300px;
    border-radius: 4px;
    background-color: rgb(12, 11, 11);
    color: white;
    border-style: none;

}

.nav-link-menu:hover {
    background-color: rgb(13, 95, 128);
}

.nav-link-menu {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
    border-style: none;
}

.nav-link:hover {
    background-color: rgb(13, 95, 128);
}

.nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    margin-left: 0px;
}

.menu-options {
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(29, 27, 27);
    border-radius: 20px;
}

@media screen and (max-width: 768px) {


    .fa.fa-bars {
        margin-right:30px;
        margin-top: 30px;
        height: 50px;
        width: 50px;
    }

    .menu-btn-content {
        display: contents;
        width: 30px;
        height: 30px;
        color: rgb(255, 255, 255);
    }

    .nav-link {
        margin-top: 10px;
        display: contents;
    }

    .menu-options {
        margin-top: 10px;
        display: none;
        
    }

    .logo {
        font-size: 20pt;
        height: 4vh;
        width: 14vh;
        margin-left: 60px;
        margin-top: 15px;
        background-color: rgb(68, 0, 255);
    }
    .header{
        position: absolute;
        height: 7vh;
        background-color: rgb(14, 8, 8);
        }
        .nav-menu{
            right: 30px;
        }

}

@media screen and (min-width: 769px) {
    .menu-btn-content {
        display: none;
    }


    .nav-link-menu {
        margin-right: 300px;
        display: none;
    }


}

@media screen and (max-width: 375px) {


    .fa.fa-bars {
        margin-right: 53px;
        margin-top: 16px;
        height: 50px;
        width: 50px;
    }

    .menu-btn-content {
        display: contents;
        width: 30px;
        height: 30px;
        
    }

  
    .nav-menu{
        right: 48px;
    }

    .menu-options {
        margin-top: 10px;
        left: 20px;
        display: none;
    }
    .nav-link-menu{
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.815);
    }

    .logo {
        font-size: 16pt;
        height: 4vh;
        width: 13vh;
        margin-left: 20px;
        margin-top:10px;
        background-color: rgb(68, 0, 255);
    }
    .header{
    position: absolute;
    background-color: rgb(14, 8, 8);
    }

}
